{% extends 'base.html' %}
{% load staticfiles %}

{% load multiply %}
{% load invoice_number_mask %}
{% load mask%}
{% load i18n %}

{% block content %}
<style>
    .invoice-date {
        text-align: left !important;
    }
    @media print {
        .print-hidden {
            display: none !important;
        }
        body {
            margin: 0px !important;
            padding: 0px !important;
            height:100% !important; 
            max-height:1000px !important; 
            overflow: hidden !important;
        }
        small, strong {
            height: 0px !important;
            margin: 0px !important;
            padding: 0px !important;
        }
        span {
            height: 0px !important;
            padding: 0px !important;
        }
        table {
            display: table;
            height: 0px !important;
            margin: 0px !important;
            padding: 0px !important;
        }
        tbody {
            height: 0px !important;
            margin: 0px !important;
            padding: 0px !important;
        }
        tr {
            display: table-row;
            height: 0px !important;
            margin: 0px !important;
            padding: 0px !important;
        }
        td {
            display: table-cell;
            height: 0px !important;
            margin: 0px !important;
            padding: 0px !important;
            vertical-align: bottom;
        }
        div {
            margin-top: 1px !important;
            padding-top: 1px !important;
        }
        @page {
            margin: 0cm;
        }
        .pace, .pace-inactive, .paceOptions,
        .pace-progress-inner, .pace-stripe-animation,
        .pace-progress, .pace-active, 
        .nav, .navbar-header, .header, 
        .footer, .breadcrumb, head, head link, 
        head meta, head script {
            display: none !important;
            margin: 0px !important;
            padding: 0px !important;
            height: 0px !important;
            border: 0px !important;
        }
        .invoice-header, .invoice-content {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
        .invoice-header {
            display: table !important;
        }
        .invoice-from, .invoice-to, .invoice-date {
            display: table-cell !important;
        }
        .invoice-from {
            width: 70% !important;
        }
        .invoice-to {
            width: 0% !important;
        }
        .invoice-date {
            width: 100% !important;
        }
        .invoice-date {
            text-align: left !important;
        }
        .invoice-footer {
            position: absolute !important;
            bottom: 1% !important;
            left: 25% !important;
        }
    }
</style>
<div>
    {% if object.status == "Pendente" %}
    <div class="alert alert-warning" style="margin-bottom: 0px;" role="alert">
        Esta Ordem de Serviço ainda está com sua finalização <b>Pendente</b>
    {% elif object.status == "Em Aberto" %}
    <div class="alert alert-danger" style="margin-bottom: 0px;" role="alert">
        {{ object.status }}
    {% elif object.status == "Paga" %}
    <div class="alert alert-success" style="margin-bottom: 0px;" role="alert">
        {{ object.status }}
    {% endif %}
        <div class="pull-right hidden-print">
            <a 
                style="position: relative; bottom: 5px;"
                href="javascript:;" 
                onclick="window.print()" 
                class="btn btn-sm btn-success">
                <i class="fa fa-print m-r-5"></i> Print
            </a>
        </div>
    </div>
</div>
<div class="invoice">
    <div class="invoice-company" style="margin-bottom: 0px;">
        <small>Ordem de Serviço
            <b>{{ object.date|date:"y" }}{{ object.id|invoice_number_mask:object.type_of_invoice }}</b>
        </small>
        <span style="position: absolute; right: 40px;">
            <h5>
                {% language 'pt' %}{{ object.date|date:"D, d/m/Y" }}{% endlanguage %}
            </h5>
        </span><br>
        <h5
            style="position: relative; top: 0px; margin: 0px;">
            CTX - Representante e Assistência Técnica de Equipamentos Elétricos LTDA.
        </h5>
        <img src="{% static 'img/ctx/ctx004.png' %}" alt="CTX Logo" height="auto" width="100%">
    </div>
    <div class="invoice-header">
        <div class="invoice-from">
            <small>Cliente</small>
            <address class="m-t-5 m-b-5">
                <strong>{{ object.client }}</strong><br>
                {{ object.client.trading_name }}<br>
                {{ object.service_address }}<br>
                CEP: {{ object.service_address.zip_code }},
                {{ object.service_address.city }}/{{ object.service_address.state }}<br>
                Phone: {{ object.client.phone|mask:"phone" }}<br>
                CNPJ: {{ object.client.national_legal_number|mask:"cnpj" }}<br>
                {% if object.client.state_legal_number %}
                    Inscrição Estadual: {{ object.client.state_legal_number }}<br>
                {% endif %}
                Contato: {{ object.client.contact }}<br>
                Setor: {{ object.client.contact_sector }}<br>
            </address>
        </div>
        <div class="invoice-date">
            <small>Equipamento</small>
            <address class="m-t-5 m-b-5">
                <strong>{{ object.equipment.type_of_equipment }}</strong><br>
                {{ object.equipment.manufacture }}<br>
                Modelo: {{ object.equipment.model }}<br>
                    Número Serial: 
                {% if object.serie %}
                    {{ object.serie }}<br>
                {% else %}
                    Não Fornecido<br>
                {% endif %}
                Defeito Aprensentado: {{ object.issue }}<br>
                <br>
                Ordem de Serviço Tipo: <b>{{ object.type_of_invoice }}</b><br>
                Data: {% language 'pt' %}{{ object.date|date:"D, d/m/Y" }}{% endlanguage %}<br>
                Identificador: {{ object.date|date:"y" }}{{ object.id|invoice_number_mask:object.type_of_invoice }}
            </address>
        </div>
    </div>
    <div class="invoice-content" style="margin-bottom: 0px;">
        <div class="table-responsive">
            <table class="table table-invoice">
                <thead>
                    <tr>
                        <th>DESCRITIVO DE MATERIAIS, SERVIÇO E TERCEIROS</th>
                        <th class="text-center">QTD</th>
                        <th class="text-center">PARCIAL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object.supplies.all %}
                    <tr>
                        <td>[{{ obj.date|date:"d/m/Y" }}] {{ obj.description }}</td>
                        <td class="text-center">{{ obj.amount }}</td>
                        <td class="text-center">R$ {{ obj.value|multiply:obj.amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="invoice-price">
            <div class="invoice-price-left">
            </div>
            <div class="invoice-price-right">
                <small>TOTAL</small>
                <span style="font-size: 20px;">R$ {{ object.total_value|multiply:1 }}</span>
            </div>
        </div>
        <hr style="margin-bottom: 0px;;">
        <img 
            class="d-block m-auto" 
            style="display: block; position: relative; top: 30px; right: 5px;" 
            src="{% static 'img/ctx/nunes.png' %}" 
            height="auto" width="150px">
        <div class="text-center" style="position: relative; top: 5px;">
            <h5>José Nunes da Silva Filho</h5>
        </div>
        <br>
        <div class="text-center" style="position: relative; bottom: 20px;">
            Técnico Responsável
        </div>
        <div class="row">
            <span
                style="
                border-bottom-style: solid;
                border-bottom-color: gray;
                border-bottom-width: 1px;
                width: 25%;
                margin: auto;
                display: block;
                position: relative;
                bottom: 60px;">
            </span>
        </div>
        <div class="text-center" style="position: relative; bottom: 25px;">
            <small>CREA: 7304/TD</small>
        </div>
    </div>
    <div class="invoice-note" style="margin-top: 1rem;">
        * Observações<br>
        <div class="row">
            <div style="margin-top: 1rem; margin-left: 3rem;">
                {{ object.invoice_description }}</div>
        </div>
    </div>
    <div class="invoice-footer text-muted">
        <p class="text-center m-b-5">
            CTX - Representante e Assistência Técnica de Equipamentos Elétricos LTDA.<br>
            Rua C-189, Nº 292, Jardim América, CEP 74000-000 – Goiânia/GO<br>
        </p>
        <p class="text-center">
            <span class="m-r-10"><i class="fa fa-globe"></i> https://ctx.com</span>
            <span class="m-r-10"><i class="fa fa-phone"></i> (62) 3093-5019</span>
            <span class="m-r-10"><i class="fa fa-envelope"></i> nunesctx@gmail.com</span>
            <span class="m-r-10"><i class="fa fa-envelope"></i> CNPJ 01.276.117/0001-65</span>
        </p>
    </div>
</div>
{% endblock content %}
