{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load invoice_number_mask %}
{% load i18n %}
{% block content %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="javascript:;">Início</a></li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Administrativo<small></small></h1>
<!-- end page-header -->

<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="table-basic-7">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a 
                        href="javascript:;" 
                        class="btn btn-xs btn-icon btn-circle btn-default" 
                        data-click="panel-expand">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a 
                        href="javascript:;" 
                        class="btn btn-xs btn-icon btn-circle btn-warning" 
                        data-click="panel-collapse" 
                        data-original-title="" 
                        title="" 
                        data-init="true">
                        <i class="fa fa-minus"></i>
                    </a>
                </div>
                <h4 class="panel-title">Ordens de Serviço</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table" style="margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th>Número</th>.
                                <th>Data</th>
                                <th>
                                    <div style="display: flex;">
                                        <div style="margin-left: auto; margin-right: auto;">
                                            Valor
                                        </div>
                                    </div>
                                </th>
                                <th>Criada por</th>
                                <th>
                                    <div style="display: flex;">
                                        <div style="margin-left: auto; margin-right: auto;">
                                            Status
                                        </div>
                                    </div>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'invoice_detail' obj.id %}">
                                        CTX-{{ obj.id|invoice_number_mask }}
                                    </a>
                                </td>
                                <td>{% language 'pt' %}{{ obj.date|date:"D, d/m/Y" }}{% endlanguage %}</td>
                                <td>
                                    <div style="display: flex;">
                                        <div style="margin-left: auto; margin-right: auto;">
                                            {{ obj.total_value }}
                                        </div>
                                    </div>
                                </td>
                                <td>{{ obj.created_by }}</td>
                                <td>
                                    {% if obj.status == "Pendente" %}
                                    <div style="display: flex;">
                                        <div style="margin-left: auto; margin-right: auto;">
                                            <a type="button" class="btn btn-default" href="#">
                                                {{ obj.status }}
                                            </a>
                                        </div>
                                    </div>
                                    {% elif obj.status == "Em Aberto" %}
                                    <a type="button" class="btn btn-default" href="#">
                                        {{ obj.status }}
                                    </a>
                                    {% elif obj.status == "Paga" %}
                                    <a type="button" class="btn btn-default" href="#">
                                        {{ obj.status }}
                                    </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a 
                                        style="display: flex;"
                                        href="#"
                                        data-toggle="collapse" 
                                        data-target="#collapse_row_{{ obj.id}}">
                                        <div style="margin-left: auto;">
                                            <i class="fa fa-info"></i>
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <a style="display: flex;" href="#">
                                        <div style="margin-right: auto;">
                                            <i class="fa fa-close" style="color: red;"></i>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" style="padding: 0px; border: none;">
                                    <div class="collapse" id="collapse_row_{{ obj.id}}">
                                        <div 
                                            class="row"
                                            style="
                                                padding-left: 5px;
                                                padding-right: 15px;
                                                margin-top: 5px;
                                                margin-bottom: 30px;
                                                margin-left: 0px;
                                                margin-right: 0px;">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <span style="font-weight: bold;">Cliente:</span>
                                                    <span>{{ obj.client.name }}</span>
                                                </div>
                                                <div class="row">
                                                    <span style="font-weight: bold;">Nome Fantasia:</span>
                                                    <span>{{ obj.client.trading_name }}</span>
                                                </div>
                                                <div class="row">
                                                    <span style="font-weight: bold;">CNPJ:</span>
                                                    <span>{{ obj.client.national_legal_number }}</span>
                                                </div>
                                                <div class="row">
                                                    <span style="font-weight: bold;">Inscrição Estadual:</span>
                                                    <span>{{ obj.client.state_legal_number }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <span style="font-weight: bold;">Defeito:</span>
                                                    <span>{{ obj.issue }}</span>
                                                </div>
                                                <div class="row">
                                                    <span style="font-weight: bold;">Equipamento:</span>
                                                    <span>{{ obj.equipment }}</span>
                                                </div>
                                                <div class="row">
                                                    <span style="font-weight: bold;">Tipo de Ordem de Serviço:</span>
                                                    <span>{{ obj.type_of_invoice }}</span>
                                                </div>
                                                <div class="row">
                                                    <span style="font-weight: bold;">Endereço do Serviço:</span>
                                                    <span>{{ obj.service_address }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if is_paginated %}
                    <div class="email-footer clearfix">
                        <ul 
                            class="pagination pagination-sm m-t-0 m-b-0"
                            style="display: flex;">
                            <li style="margin-left: auto;">
                                {% if page_obj.has_previous %}
                                    <a href="/invoice?page={{ page_obj.previous_page_number }}">
                                        <i class="fa fa-angle-double-left"></i>
                                    </a>
                                {% endif %}
                            </li>
                            <li style="border-width: 0;">
                                <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                            </li>
                            <li style="margin-right: auto;">
                                {% if page_obj.has_next %}
                                <a href="/invoice?page={{ page_obj.next_page_number }}">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>

{% endblock content %}